.App {
  text-align: center;
  justify-content: center;
}

/* NAV_BAR */

.Nav{
  margin: 10px;
  display: flex;
  justify-content: space-evenly;
}
.Nav >div
{
flex-wrap: wrap;
margin: 10px;
}

.sortBy{
  display: block;
}

label{
  font-size: 12px;
}
.navBtn{
  width: 120px;
}

.active{
  background-color: #ceebe7 ;
}

/* COLLECTION and SEARCH_RESULTS */

.Collection{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Wrapper{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}


/* RECORD */

.Record{
  border: #5f9ea0 solid 2px;
  margin: 10px;
  padding: 10px;
  width: 300px;
  height: 300px;
  background-size: cover;
}

.Record:hover
.backImage{
  filter: gray; /* IE6-9 */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
  filter: grayscale(1);
  opacity: 0.2;
}

.backImage{
  -webkit-filter: grayscale(0);
  filter: none;
  position:relative;
  height: 300px;
  width: 300px;
  overflow: hidden;
  transition: all ease 0.15s;
  z-index: 1;
}

.Record:hover
.infoWrapper{
  z-index:1;
  opacity:1;
}

.infoWrapper{
  position: relative;
  top: -300px;
  opacity:0;
  transition: all ease 0.2s;
}

/*  EDITOR  */

.Editor {
  display: none;
  position:fixed;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;
  border: #885d73 solid 2px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  z-index: 4;
  overflow: scroll;
}

.oneLine{
width: 100%;
}
.oneBlock{
  width: 200px;
}

.inputWrapper {
  flex-wrap: wrap;  
  height: 25px;
  padding: 5px;
}

.suggestion{
  position:relative;
  opacity:0;
  font-size: 12px;
  z-index: 5;
  padding: 5px;
  background-color: #ceebe7;
  margin: 0;
}

.inputWrapper input:focus ~
.suggestion {
  opacity:1;
}

.suggestion:hover {
  font-weight: bold;
  cursor: pointer;
}


.imgBox{
  display: block;
  position: relative;
  height: 300px;
  width: 300px;
  align-items: center;
  text-align: center;
}

.imgBox button{
  position: relative;
  top: 5px;
  z-index:2;
}

#findBtn{
  position:absolute;
  transform: translate(-50%, 0);
  left: 50%;
  top:40%;
  justify-self: center; 
}

.imageSwitches{
  opacity: 1;
}

#prevBtn{
  float: left;
  left: 5px;
}
#nextBtn{
  float: right;
  right: 5px;
}

#imageGetter {
  position: absolute;
  z-index: 3;
  left: 15%;
}
#imageGetterBtn {
  position: absolute;
  z-index:3;
right: 15%;
margin-top: 2.5px;
  
}

.previewImage {
  opacity: 0.5;
  left:0;
  position:absolute;
  height: 300px;
  width: 300px;
  overflow: hidden;
  z-index: 1;
}
